/* (1, 0, 0) */
/* (0, 1, 0) */
/* (0, 0, 1) */
/* (0, 0, 0) */

#h1-id {
    color: darksalmon;
}

.h1-clase {
    color:lightpink;
}

h1 {
    color:indianred !important; /* Evitar su uso siempre que se pueda */
}

p {
    color:mediumaquamarine;
}
